* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  display: flex;
  background: linear-gradient(106.61deg, #eaeef8 0.55%, #ffffff 99.64%);
}

.error-container {
  border: 2px solid red;
  
}
