{% extends "loginbase.html" %}
<br />
{% block title %} Login Here {% endblock%}
<br />
{% load crispy_forms_tags %}
<br />

{% block content %}
<div class="login-form-container">
  <h3 class="header3form">LogIn</h3>
  <form method="post" class="form-styles">
    {% csrf_token %} {{form.as_p}}
    <button type="submit" class="btn options primeblue" name="save">
      Login
    </button>
    <div class="register">
      Don't have and account? Create one <a href="/register/"> here</a>
    </div>
  </form>
</div>
{% endblock %}
